body{
    background-color: bisque;
}

.raju{
    color: orange;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.button{
  text-decoration: none;
  background-image: linear-gradient(45 deg,lightsalmon,tomato);
  border: 1px solid red;
  border-radius: 10px;
  background-color: orange;
  font-size: 200%;
  color: white;
}
.same::before{
    content:"👉🏻";
}
p{
    width: 80%;
    color: rgb(124, 104, 194);
}
.half{
    width: 40%;
    float: left;
    padding: 2%;
    margin-left: 5%;

}
.half img{
    border: 1px solid red;
    border-radius: 60px;
    width: 70%;
    height: 70%;
}
section{
    height: 500px;
}
.area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.gg{
    margin-left: 5%;
}
.haf{
    width: 40%;
    float: left;
    padding: 2%;
    margin-left: 5%;
}
.bgg{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}